.movies {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width:80%;
}
.loader {
    text-align:center;
}
.container {
    display:flex;
    justify-content: center;
    height:100%;
}
