.movies {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    width:80%;
}
.loader {
    text-align:center;
}
.container {
    display:flex;
    justify-content: center;
    height:100%;
}
.content {
    margin:20px;
    border-radius:20px;
    display : block;
    box-shadow: 3px 8px 5px 5px gray;
    padding:10px;
    max-width :400px;
    width:100%;

}
