.item {
    background-color : #EEEBDD;
    width:250px;
    height:350px;
    margin:10px;
    border-radius:20px;
    text-align:center;
}
.item > img{
    height: 220px;
    display:block;
    margin:auto;
    border-radius:20px;
}
.title {
    height:100px;
    display:auto;
}